# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos virtuales
.venv/
venv/

# Variables sensibles
.env
.env.*
!.env.example

# Archivos de sistema y editor
.DS_Store
.vscode/
.idea/

# Cobertura y compilación
htmlcov/
.coverage
build/
dist/
*.egg-info/

# Logs
*.log

